*{
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    box-sizing: border-box;
}
h1,h4,h3,h5{
  font-family: "Oswald", sans-serif;
}
p{
}
.nav-item > .nav-link {
    color:#fff;

}
.navbar,.navbar-brand > img {

    background-color: #344CB7;
}
.collapse > ul > li {
    margin: 0 5px;
    
}
.collapse > ul > li > a:hover {
    color:#000957;
}
.d-block{
    width: 100vw;
    height: 90vh;
}
.btn-success{
    position: fixed;
    right:50px;
    bottom: 50px;
    z-index:1;
}
.btn-success > i{
    font-size: 40px;
    }
.container-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000957;
}
.container-icons > .cols{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 200px;
    background-color:#000957;
} 
.container-icons > .cols > a > i ,.container-icons > .cols > a >  h4{
    color: #fff;
    text-transform:uppercase;
    transition: ease 0.3s;
}
.container-icons > .cols > a > i:hover{
    color: #577BC1;
}
.blinker{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes blink {
    0%{
        opacity: 1;
    }       
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.blinking-header{
    color: #344CB7;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    animation: blink 1s infinite;
}

.card > .btn{
    width: auto;
    align-self: center;
    background: #344CB7;
    box-shadow: 3px 3px 2px  1px #aba8a8f5;
    transition: 0.3s;
    color: #fff;
}
.card > .btn:hover{
    background: #2b3e93;
    color: #fff;
}
.card-btn:focus{
    position: relative;
    top: 2px;
}
.events-container{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}
.event-info{
    display: flex;
    flex-shrink: 1;
    margin: 10px ;
}
.date-container{
    padding: 10px 25px;
    border: 2px solid #000957;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0;
    
}
.date{
font-family: "Oswald", sans-serif;
font-weight: 300;
font-size: 1.5rem;
}
.month{
font-family: "Oswald", sans-serif;
font-size: 16px;
font-weight: 300;
margin-top: -7px;
}
.event-info-2 {
    margin-left: 20px;
    font-size: 1rem;
    
}
.event-info-2 > span{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.msg-box{
    display: flex;
    flex-direction: column;
}

.boxes{
    margin: 20px 0;   
}
.txt{
    height: 50px;
    border-top: none ;
    border-left: none;
    border-right: none;
}
.txtarea{
    border: 2px solid #000;
    border-top: none ;
    border-left: none;
    border-right: none;
}
.txt:focus,.txtarea:focus{
    border-top: none ;
    border-left: none;
    border-right: none;
    background:none ;
    outline: none;
}


.captcha-box{
    background-color: #d4d1d1;
    padding: 20px 10px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.captcha-box > input[type="checkbox"]{
    position: relative;
    right: -20px;
    transform: scale(2);
}
.captcha-box > span{
    position: relative;
    right: 10px;
    top: 20px;
    font-size: 20px;
}
.captcha{
    position: relative;
    right: 10px;

}
.msg-box > .btn{
    margin-bottom: 10px;
    background-color: #344CB7;
    color: #fff;
}
.msg-box > .btn:hover{
    background: #2b3e93;
    color: #fff;
}

/* carousal */

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}


.slider .slide img {
	transition: 0.1s ease-out;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
.slider {
	height: 700px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
    align-content: center;
    background-color: #000957;
    padding: 50px 0;
    /* border: 2px solid green; */
}

.slider .slider-animation {
	animation: scroll 40s linear infinite;
	display: flex;
	/*width: calc(250px * 14);*/
	width: fit-content;
}

.slider .slide {
	height: 500px;
    width: 700px;
	padding-right: 120px;
	position: relative;
    margin: 10px 0;
    /* border: 2px solid yellow; */
}

.slider .slide img {
	/* max-width: none; */
    height: 500px;
    width: 700px;
	transition: 0.5s ease-out;
}
.programmes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.programmes-container-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    background-color: #344CB7;
    width: auto;
    height: auto;
    place-content: center;
    padding: 100px 100px;
    border-radius: 10px;

}

.programmes-content {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    background-color: #fbf9f9;
    font-size: 40px;
    border-radius: 5px;
}
.clr-box{
    width: 100px;
    height: 100px;
    background-color: red;
}