*{
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}
h1{
  font-family: "Oswald", sans-serif;
}
p{
}
.nav-item > .nav-link {
    color:#fff;

}
.navbar,.navbar-brand > img {

    background-color: #344CB7;
}
.collapse > ul > li {
    margin: 0 5px;
    
}
.collapse > ul > li > a:hover {
    color:#000957;
}
.d-block{
    width: 100vw;
    height: 95vh;
}
.btn-success{
    position: fixed;
    right:50px;
    bottom: 50px;
}
.btn-success > i{
    font-size: 40px;
}
.nxt{
    width: 100vw;
    height: 100vh;
}
